html,
body,
.wrapper {
    background: rgb(14, 17, 56);
    background: linear-gradient(90deg, rgba(14, 17, 56, 1) 17%, rgba(11, 3, 49, 1) 35%, rgba(0, 0, 0, 1) 60%);
}

/* @media (max-width:600px) {
    .wrapper{
        background: rgb(14, 17, 56);
    }
} */